<nav>
    <ul class="menu">
        <li><a routerLink="/item">Basic binding</a></li>
        <li><a routerLink="/twowaybinding">Two way binding</a></li>
        <li><a routerLink="/ng-content">Ng-content</a></li>
        <li><a routerLink="/rxjs">Rxjs</a></li>
        <li><a routerLink="viewChild">ViewChild signals-based</a></li>
        <li><a routerLink="rest">Rest-api</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

<!-- <app-item (addItemEvent)="addNewItem($event)" [items]="items"></app-item>
<app-twowaybinding></app-twowaybinding>
<app-parent></app-parent>

<app-content>
    <p left-side>This is the left side</p>
    <p mid>This is the middle</p>
    <p right-side>This is the right side</p>
    <p>This is the bottom</p>
</app-content> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-product-list></app-product-list> -->

<!-- <app-observable></app-observable> -->
 <!-- <app-keylogger></app-keylogger> -->

<!-- <app-ch08-product-list></app-ch08-product-list> -->